.textarea{
    width: 100%;
    padding: 10px;
    background: url('./assets/numbering.png') ;
    background-attachment: 'local';
    background-repeat: no-repeat ;
    padding-left: 35px;
    padding-top: 10px;
    border-color: #ccc;
}